* {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }

  #navbar li {
    display: inline-block;
  }

  #navbar a {
    text-decoration: none;
    font-size: 25px;
    padding-right: 15px;
  }

body {
    box-sizing: border-box;
    font-family: fantasy;
    background-image: url("../images/kitchen-BG.jpg");
    background-size: cover;
}

p {
    font-size: 25px;
}

#logo {
    font-family: "Rubik Puddles";
    background-color: antiquewhite;
    color: hsl(351, 100%, 57%);
    font-style: oblique;
    font-weight: 900;
    padding: 0 10px;
}

#info, #review {
    display: flex; 
    justify-content: space-evenly;
}

#info, #review {
    text-align: center;
    margin-bottom: 25px;
}

.customer {
    width: 300px;
    font-size: 25px;
    background-color: white;
    margin: 25px auto;
    border: 2px solid #ff431c;
}

.customer > h3 {
    font-weight: 800;
    font-size: 40px;
    margin-top: 25px;
}

#border {
    border: 2.5px dashed #964ffc; 
    margin-top: 50px;
    
}

.section {
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 0 100px;
    padding: 10px;
}

.info {
    width: 500px;
    background-color: white;
    border: 2px solid #ff431c;
    border-radius: 20px;
    padding: 10px;
    margin: 25px auto;
}

img {
    border-radius: 50%;
    margin: 25px;
}

a {
    width: 200px;
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: lightsalmon;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    display: block;
    margin: 15px auto;
}

.center {
    display: block;
    margin: 0 auto;
}

.p-form {
    text-align: center;
    color:hsl(351, 100%, 57%)
}


.expect {
    text-align: center;
    font-size: 30px;
    font-style: bold;
    text-decoration:wavy; 
    color: green;
    text-shadow: 5px 5px 10px red;
    
}


input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: lightsalmon;
  color: black;
  font-family: fantasy;
  font-size: 25px;
  font-weight: 800;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}


.container {
  
  width: 500px;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 20px;
  margin: 10px auto;
}

